bin
.classpath
.project
.settings
target
MANIFEST.MF
*.iml
*.pyc
.idea
release.properties
/src/seo/venv/
2022*
rdfhelp-to-owl.py
toto
.schema.ttl.swp
src/polish-rdf/alpha-schema.html
src/polish-rdf/alpha-schema.ttl
describe-properties.log
src/polish-rdf/schema-fixed.html
src/polish-rdf/schema-fixed.html.before
src/polish-rdf/schema-new.ttl
src/polish-rdf/schema-no-figure.html
src/polish-rdf/schema-tmp.0
src/polish-rdf/schema-tmp.1
src/polish-rdf/schema-tmp.2
src/polish-rdf/schema-tmp.3
src/polish-rdf/schema.html
src/polish-rdf/schema.html.1
src/polish-rdf/schema.html.2
src/polish-rdf/schema.html.before
src/polish-rdf/schema.ttl
src/polish-rdf/schema.ttl.api-localhost-20220919
src/polish-rdf/schema.ttl.before
src/polish-rdf/schema.ttl.nochange
load-base-ttl-files-to-virtuoso-20220821-1657.log
pylode.log
pyLODE-2.13.2.tar.gz
